<form method="post" action="{{ path('article_delete', {'id': article.id}) }}" onsubmit="return confirm('Tu es vraiment sûr de vouloir supprimer l'article {{ article.title }})';">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    {# BUG: Broken link #}
    <img class="btn btn-danger px-0" width="40" height="40" src="{{ asset('icons/trash.svg') }}" alt="Supprimer" >
</form>