{{ form_start(form) }}
     {# TODO: Add a french caption for each widget and error check the inputs #}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Sauvegarder</button>
{{ form_end(form) }}
